# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client_app/node_modules
/client_app/.pnp
/client_app/.pnp.js

# testing
/client_app/coverage

# production
/client_app/build

# misc
/client_app/.DS_Store
/client_app/.env.local
/client_app/.env.development.local
/client_app/.env.test.local
/client_app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/server_app/node_modules
/server_app/dist
/server_app/.env
/server_app/logs
